name: Docker Image CI

on:
    push:
        branches: [ master ]
    pull_request:
        branches: [ master ]
    schedule:
        -   cron: '00 23 * * 0'
    workflow_dispatch:

jobs:

    build:
        runs-on: ubuntu-latest

        steps:
            -   name: Checkout
                uses: actions/checkout@v6

            -   name: Set up QEMU # Add support for more platforms with QEMU (optional) https://github.com/docker/setup-qemu-action
                uses: docker/setup-qemu-action@v3

            -   name: Set up Docker Buildx
                uses: docker/setup-buildx-action@v3

            -   name: Login to DockerHub
                uses: docker/login-action@v3
                with:
                    username: ${{ secrets.DOCKER_HUB_USERNAME }}
                    password: ${{ secrets.DOCKER_HUB_TOKEN }}

            -   name: Build and Push the Docker image
                run: make buildx
